version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: morefixes_db
    restart: always
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    command:
    - "postgres"
    - "-c"
    - "max_connections=1000"
    - "-c"
    - "listen_addresses=*"
    - "-c"
    - "shared_buffers=512MB"
    - "-c"
    - "checkpoint_timeout=15min"
    - "-c"
    - "max_wal_size=2GB"
    volumes:
      - postgres_data2:/var/lib/postgresql/data
      - ./postgrescvedumper-2024-09-26.sql:/docker-entrypoint-initdb.d/postgrescvedumper-2024-09-26.sql

volumes:
  postgres_data2: